* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

/*** HERO/NAVBAR SECTION ****/

.hero {
    color: white;
    background-color: #1F2937;
    padding: 20px 150px;
}

.hero a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav--logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero--content {
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
}

.hero--header {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero--subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero--button {
    background-color: #5d3cfc;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 20px;
    margin-top: 10px;
}

.hero--placeholder {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

/**** FIRST SECTION ****/
.first-section {
    background-color: white;
    color: black;
    padding: 50px 250px;
}

.first-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

.square-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.square-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square-image {
    height: 150px;
    width: 150px;
    border: 3px solid #5d3cfc;
    border-radius: 10px;
    margin-bottom: 5px;
}

.square-image-subtext {
    color: #1F2937;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
